@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./variables.css');
@import url('./general.css');
/*HEADER*/
.header { 
    background-color: var(--color-azul);
    color: white;

}
.header__a--logo {
    text-transform: uppercase;
}
.header__a--menu{

}
.header__nav {

}
.header__nav__a {

}
.nav--principal{

}
.nav--principal ul {
    list-style-type: none;
    display: none;
}
/*SECTION--BANNER*/
.banner {
    background-color: var(--color-verde);
}

/*SECTION--PORTFOLIO*/
.section--portfolio {
    ;
}

/*SECTION--ABOUT*/

/*SECTION--FORMULARIO*/

/*FOOTER*/
.footer {
    background-color: var(--color-azul);
}